.post-item {
  &__info {
    flex-grow: 1;
    line-break: anywhere;
    position: relative;

    &:hover {
      .post-item__dismiss-button {
        display: initial;
      }
    }
  }

  &__thumbnail {
    min-width: 140px;
    height: 100%;
  }

  &__inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__new-post {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
  }

  &__new-post-label {
    padding-left: 5px;
  }

  &__dismiss-button {
    position: absolute;
    top: 0;
    right: 10px;
    display: none;
  }
}