@import './styles/variables';
@import './styles/mixins';

.app {
  &__container {
    height: auto;
    background-color: $main-background;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  &__posts-container {
    width: 95vw;
    height: 100%;
    background-color: $main-background;
    padding: 10px;
  }

  &__post-detail-container {
    width: 90vw;
    max-width: 1000px;
  }

  &__inner-container {
    display: flex;
    justify-content: space-around;
    margin: 30px;
  }

  &__posts-container-title {
    display: flex;
    align-items: center;
  }
}

@include md {
  .app {
    &__container--sidenav-opened {
      .app__inner-container {
        justify-content: flex-end;
      }
    }

    &__post-detail-container {
      width: 65vw;
    }

    &__posts-container {
      width: 30vw;
    }
  }
}