@import './styles/variables';

.app {
  &__container {
    height: 100%;
    background-color: $main-background;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__logo-container {
    font-size: 10rem;
  }
}
